.task-list {
    margin: 20px 0; 
    padding: 10px; 
    border: 1px solid #ff6200;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgb(255, 145, 0);
  }
  
  .task-item {
    border-radius: 8px; 
    margin-bottom: 10px; 
    background-color: chocolate;
  }
  
  .task-item:hover {
    background-color: #0e70d8;
    box-shadow: 0 4px 8px linear-gradient(132deg, rgb(227, 244, 253) 0.00%, rgb(170, 209, 226) 100.00%);
  }
  
  .task-item .MuiListItemText-primary {
    font-size: 20px;
  }
  background: 
  