.container{
  background-color: burlywood;
  border-radius: 25px;
  background: linear-gradient(209deg, rgb(255, 127, 56) 52.01%, rgb(255, 196, 108) 100.00%);
  padding: 50px;
}
.TypoContainer
{
  color: bisque;
}



.App {
  text-align: center;
 
  padding: 20px;
  min-height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.5s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-logo:hover {
  transform: scale(1.1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo_list {
  list-style-type: none;
  padding: 0;
}

.todo_item {
  background: #fff;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
body {
  background-color: peach !important; /* Set background color to peach with !important */
}


.todo_item:hover {
  background: #f8f9fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.todo_items_left {
  display: flex;
  align-items: center;
}

.todo_input {
  padding: 10px;
  width: 60%;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.todo_input:focus {
  border-color: #61dafb;
  outline: none;
}

.todo_button {
  padding: 10px 20px;
  background: linear-gradient(132deg, rgb(30, 144, 255) 0.00%, rgb(138, 43, 226) 100.00%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.todo_button:hover {
  background: linear-gradient(135deg, #21a1f1, #61dafb);
}
